[submodule "snails"]
	path = snails
	url = https://github.com/manateelazycat/snails.git
[submodule "fuz.el"]
	path = fuz.el
	url = https://github.com/rustify-emacs/fuz.el.git
[submodule "emacs-application-framework"]
	path = emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
